{% extends 'base.html' %}

{% block tittle%}
    Sign Up
{% endblock tittle %}

{% block content %}
    <div style="display: flex; j">
        <h1>Sign Up</h1>
        <nav style="display: flex;">
            <p><a href="{{url_for('homepage')}}">Home</a></p>
            <p><a href="{{url_for('about')}}">About</a></p>
        </nav>
    </div>
    {{message}}
    <form action="{{url_for('signup')}}" method="POST">
        {{form.fullName.label}}: <br>
        {{form.fullName}}
        <br>
        {{form.email.label}}: <br>
        {{form.email}}
        <br>
        {{form.password.label}}: <br>
        {{form.password}}
        <br>
        {{form.confirmPassword.label}}: <br>
        {{form.confirmPassword}}
        <br>
        {{ form.csrf_token }} 
        {{form.submit}}
    </form>
    
{% endblock content %}