<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <main id="mainDetails">
        <img src="{{url_for('static', filename=pet['id']|string+'.jpg')}}" alt="Imagem pet">
        <div class="infos">
            <h1>{{pet['name']}}</h1>
            <p><strong>Age:</strong> {{pet['age']}}</p>
            <p><strong>Bio:</strong> {{pet['bio']}}</p>
        </div>
    </main>
</body>
</html>